* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
      
}
body{
        overflow-x: hidden;
}

h1{
    color: aliceblue;
    padding: 5px;
}

main {
    background-image: linear-gradient(45deg, rgb(13, 13, 53), rgb(31, 31, 135), rgb(104, 104, 243));
    height: 100vh;
    width: 100%;
}

.secc{
    padding: 30px;
}

#home {
    display: flex;
    width: 100%;
}

.home-left {
    height: 100%;
    width: 70%;
    margin-top: 13%;
    padding-bottom: 100px;
    align-items: center;
    padding-left: 10px;
}

.para{
    margin-top: 7px;
    color: aliceblue;
    font-size: 1.2rem;
}

.wraper {
    display: flex;
}

.wraper .static-txt{
    color: white;
    font-size: 55px;
    font-weight: 400;
    /* border: 1px solid red; */
}

.wraper .dynamic-txts{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 75px;
    height: 70px;
    overflow: hidden;
}

.dynamic-txts li{
    list-style: none;
    color: red;
    font-size: 45px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;
    position: relative;
}

@keyframes slide{
    100%{
        top: -300px;
    }
}

.dynamic-txts li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #082032;
    border-left: 2px solid red;
    animation: typing 3s steps(15) infinite;
}

@keyframes typing{
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}



.home-right {
    height: 100%;
    width: 30%;
    padding-top: 40px;
    padding-bottom: 100px;
    
}

.my-img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    overflow: hidden;
}

.my-img img {
    height: 100%;
    width: 100%;
}

#work{
    height: 100vh;
    background-image: linear-gradient(rgb(13, 13, 53), rgb(31, 31, 135), rgb(104, 104, 243)); 
}

.work-container{
    margin: 5px;    
    height: 360px;
    display: flex;
    overflow-x: auto;
}

.work-container::-webkit-scrollbar{
    width: 0;
}

article {
    background-color: rgb(98, 155, 236);
    height: 260px;
    width: 210px;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

article:hover {
    transform: scale(1.05); /* Slight zoom effect */
  }

article .Img-Con
{
  height: 200px;
  width: 200px;
  overflow: hidden;
}

article p{
    color: aliceblue;
}


.Img-Con img{
  height: 100%;
  width: 100%;
}

#skill{
    height: 100vh;
    background-image: linear-gradient(rgb(13, 13, 53), rgb(31, 31, 135), rgb(104, 104, 243));
}

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 70px;
    margin-top: 3rem;
    overflow: hidden;
}

@keyframes scrollleft {
    to{
        left: -100px;
    }
}

.item {
    width: 100px;
    height: 60px;
    background-color: rgb(73, 48, 123);
    border-radius: 6px; 
    text-align: center;
    position: absolute;
    left: 100%;
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item h1{
    margin-top: 10px;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}



#service{
    height: 100vh;
    background-image: linear-gradient(rgb(13, 13, 53), rgb(31, 31, 135), rgb(104, 104, 243));
}

#contact{
    height: 100vh;
    background-image: linear-gradient(rgb(13, 13, 53), rgb(31, 31, 135), rgb(104, 104, 243));
}

.contact-container{
    height: 95%;
    background-color: transparent;
    padding-left: 300px;

}

.contact-container form{
    width: 380px;
    height: 60vh;
    background-color: rgb(55, 24, 139);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: aliceblue;
    font-size: 1.5rem;
}

form button{
    width: 250px;
    height: 30px;
    background-color: rgb(15, 8, 57);
    color: aliceblue;
}

textarea{
    min-height: 40px;
}
.contact-container form input{
    margin: 5px;
    height: 25px;
    margin-bottom: 6px;
}

legend{
    font-size: 2rem;
    margin-bottom: 4px;
}