body{
  background-color: rgb(117, 112, 112);
  margin: 0%;
  font-family: Inter, sans-serif;
}
header{
  background-color: rgb(245, 244, 245);
  height: 50px;
  padding: 30px 25px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
nav h3{
  color: black;
}

span {
  color: aliceblue;
  background-color: black;
  margin-left: 3px;
  font-size: 1.4rem;
}

header .img {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

main{
  padding: 30px 30px 10px;

}

article{
  background-color: aliceblue;
  height: 265px;
  width: 210px;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
}

article .Img-Container
{
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.Img-Container img{
  height: 100%;
  width: 100%;
}

footer{
  height: 40px;
  width: 100%;
  color: aliceblue;
}
footer s{
    align-items: center;
    justify-content: center;
}

.form{
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.form > input{
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 8px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400PX;
}

.form > button{
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: aliceblue;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.form > button::before{ 
  content: "+";
  margin-right: 5px;
}

section{
  background-color: transparent;
}

section .recipe-container{
  background-color: rgb(176, 172, 172);
  max-width: 900px;
  padding: 5px 5px 5px 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

section .button-container{
  margin-left: 400px;
  width: 140px;
  height: 40px;
}
.button-container button{
  width: 130px;
  height: 80%;
  background-color: rgb(196, 147, 114);
}

